<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="stylesheet" href="/css/styles.css"/>
    </head>
    <body>
        {{>header}}
        <p>This site was created by Aditi. It uses data from mapbox</p>
    </body>
    <footer>{{>footer}}</footer>
</html>